/* Estils per l'Sprint 1 - Nivell 3 de l'itinerari REACT de la IT Academy */
/* Alumne: Toni Machado */
/* RESET I FONTS GENERALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* DECLAREM VARIABLES */
:root {
  /* Marges */
  --padding: 2.8rem;
  --paddingArticles: 0.8rem;
  --margin: 0.8rem;
  --gap: 1rem;
  --marginContainers: 0.8rem;
  /* Colors */
  --grey: rgb(128, 128, 128);
  --greyLight: rgb(216, 215, 215);
  --greyLightText: rgb(143, 143, 143);
  --salmon: rgba(242, 154, 125, 0.949);
  --cajaArticulo: rgb(245, 241, 241);
  --fecha: rgb(240, 229, 145);
  --tituloArt: rgb(238, 129, 130);
  --textArticulo: rgb(83, 83, 83);
}
/* TOT EL CONTINGUT */
.container {
  margin: 0 auto;
  max-width: 1200px;
}
/* HEADER */
header {
  display: grid;
  grid-template-columns: 100%;
  background-image: url("../images/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: moveUp 2s;
  margin-bottom: var(--marginContainers);
  animation: moveDown 1.5s;
}
#burguer {
  display: none;
}
.nav {
  display: grid;
  grid-template-columns: 16% auto 10% 3%;
  align-items: center;
  padding: var(--padding) 1em var(--padding) 1em;
  animation: fadeIn 1.6s;
}
.hamburguer {
  display: grid;
  grid-template-columns: auto;
}
.nav .logo img {
  width: 75px;
  height: 75px;
}
.links {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  list-style: none;
}
.social {
  position: relative;
  display: grid;
  grid-template-columns: auto auto 3%;
  justify-content: end;
  list-style: none;
  gap: 1em;
}
a {
  text-decoration: none;
  color: var(--grey);
}
h1 {
  font-family: "Joan", serif;
  font-weight: 400;
  font-size: 1.9em;
  color: var(--salmon);
}
.title {
  margin: 6em 4.6em 0 4.6em;
  background-color: rgba(114, 113, 113, 0.1);
  padding: 2em 0 4.5em 0;
  text-align: center;
  animation-delay: 5s;
  animation: scale 1.5s;
}
/* Roll-over */
.nav .links a:hover {
  color: var(--salmon);
}
.fa-brands:hover {
  transform: scale(1.4);
  color: var(--salmon);
}
/* MAIN */
main {
  display: grid;
  grid-template-columns: 77% auto;
  gap: 0.6em;
}
.articles-container {
  background-color: var(--greyLight);
  display: grid;
  grid-template-columns: 50% 50%;
  animation: moveUp 1.5s;
}
article {
  background-color: var(--cajaArticulo);
  padding: var(--paddingArticles);
  margin: var(--margin);
}
.footer-articles {
  grid-column: 1/3;
  text-align: center;
  margin: 0.5em 1em 0.8em 1em;
}
.aside-container {
  display: grid;
  grid-template-columns: 100%;
  background-color: var(--greyLight);
  padding: 1em;
  gap: 1em;
  text-align: center;
  animation: moveUp 2.5s;
}
img {
  width: 100%;
}
.data-img {
  color: var(--fecha);
  position: relative;
  top: -1.8em;
  left: 0.5em;
}
.titol {
  background-color: var(--tituloArt);
  color: #fff;
  position: relative;
  top: -0.8em;
  font-size: 1.4em;
  padding: var(--paddingArticles) 0 0.1em 0.2em;
}
article p {
  column-count: 2;
  color: var(--textArticulo);
  font-size: 1em;
}
.leer-mas {
  margin-top: var(--margin);
  color: var(--greyLightText);
}
/* FOOTER */
.footer {
  background-color: var(--cajaArticulo);
  margin-top: var(--margin);
  padding: 0.8em;
  text-align: center;
  color: var(--textArticulo);
}

/* KEYFRAMES */
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* RESPONSIVE Media-Query */
/* Mantenim marges externs del contenidor */
@media (max-width: 1200px) {
  .container {
    margin: 0 var(--marginContainers);
  }
}
/* Articles 1 per fila */
@media (max-width: 850px) {
  main {
    grid-template-columns: 65% auto;
  }
  .articles-container {
    display: grid;
  }
  article {
    grid-column: 1/3;
  }
}
/* Menu hamburguesa, Articles i Aside en columna al 100% de Width */
@media (max-width: 725px) {
  .nav {
    padding-top: 1.5em;
    grid-template-columns: 15% auto 15%;
    margin-bottom: -3em;
  }
  .logo {
    order: 2;
    display: grid;
    justify-content: center;
  }
  #burguer {
    display: inline-block;
    transform: scale(1.6);
  }
  #burguer:hover {
    color: var(--salmon);
  }
  .hamburguer {
    order: 3;
    justify-content: center;
  }
  .social {
    transform: scale(1.6);
    order: 1;
    grid-template-columns: auto auto;
    gap: 0.5em;
    justify-content: center;
  }
  .links {
    display: none;
  }
  main {
    grid-template-columns: auto;
    gap: calc(var(--gap) * 1.5);
  }
  .articles-container {
    width: 100%;
  }
  .aside-container {
    width: 100%;
    margin-bottom: var(--margin);
  }
}
/* Només Logo i Menu Burguer, desapareix marge extern */
@media (max-width: 460px) {
  .container {
    margin: 0;
  }
  .nav {
    grid-template-columns: 50% 50%;
    padding-top: 1em;
    margin: 0 1em -5em 1em;
  }
  .social {
    display: none;
  }
  .logo {
    order: 1;
    margin-left: 0;
    justify-content: start;
    transform: scale(0.9);
  }
  .hamburguer {
    order: 2;
    justify-content: end;
    margin-right: 1.5em;
    transform: scale(1.1);
  }
}
