/* Estils per l'Sprint 1 - Nivell 1 de l'itinerari REACT de la IT Academy */
/* Alumne: Toni Machado */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
:root {
  /* header colors */
  --containerBG: rgb(0, 0, 0);
  --navBG: rgb(46, 65, 88);
  --navChildren: rgb(232, 86, 89);
  --titleBG: rgb(238, 123, 71);
  --titleChildren: rgb(253, 211, 106);
  /* main colors */
  --contenidoBG: rgb(78, 78, 105);
  --articlesBG: rgb(37, 110, 174);
  --contFooterBG: rgb(114, 164, 195);
  --asideBG: rgb(254, 66, 86);
  --sectionBG: rgb(254, 233, 139);
  /* footer color */
  --footerBG: rgb(229, 171, 61);
  /* margins paddings */
  --padding: 1rem;
  --margin: 1rem;
  --gap: 1rem;
  --marginContainers: 1.2rem;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
header {
  background-color: var(--containerBG);
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  margin-bottom: var(--marginContainers);
  gap: var(--gap);
}
li {
  list-style: none;
}
.nav {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--gap);
  background-color: var(--navBG);
  padding: var(--padding);
}
.nav > * {
  background-color: var(--navChildren);
  padding: calc(var(--padding) / 1.8);
}
.nav .logo {
  flex-grow: 1;
}
.nav .links {
  flex-grow: 3;
}
.nav .social {
  flex-grow: 1;
}
.title {
  background-color: var(--titleBG);
  padding: var(--padding);
}
.title h1 {
  background-color: var(--titleChildren);
  padding: calc(var(--padding) / 1.8);
}
main {
  background-color: var(--containerBG);
  display: flex;
  flex-flow: row nowrap;
  padding: var(--padding);
  margin-bottom: var(--marginContainers);
  gap: var(--gap);
}
main > * {
  padding: var(--padding);
  gap: var(--gap);
}
main .contenido {
  background-color: var(--contenidoBG);
  flex-grow: 2;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
main .contenido > * {
  padding: calc(var(--padding) / 1.8);
}
main .aside {
  background-color: var(--asideBG);
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}
main .contenido article {
  background-color: var(--articlesBG);
}
main .contenido footer {
  background-color: var(--contFooterBG);
  grid-column: 1/3;
}
main .aside section {
  background-color: var(--sectionBG);
  padding: calc(var(--padding) / 1.8);
}
.footer {
  background-color: var(--containerBG);
  padding: var(--padding);
}
.footer p {
  background-color: var(--footerBG);
  padding: calc(var(--padding) / 1.8);
}

/* Responsive */
@media (max-width: 1200px) {
  .container {
    margin: 0 var(--marginContainers);
  }
}
/* Versió Tauleta */
@media (max-width: 750px) {
  :root {
    --padding: 0.5rem;
    --gap: 1rem;
  }
  .container {
    max-width: 630px;
    margin: 0 auto;
  }
  header {
    padding: calc(var(--padding) * 2);
    gap: calc(var(--gap) / 2);
  }
  .nav,
  .title {
    padding: calc(var(--padding) * 2);
  }
  .nav > * {
    padding: var(--padding);
  }
  .title h1 {
    padding: var(--padding);
  }
  main {
    background-color: rgb(254, 253, 56);
    flex-direction: column;
    padding: calc(var(--padding) * 2);
  }
  main > * {
    padding: calc(var(--padding) * 2);
  }
  main .contenido > * {
    padding: var(--padding);
  }
  main .aside section {
    padding: var(--padding);
  }
  .footer {
    padding: calc(var(--padding) * 2);
  }
  .footer p {
    padding: var(--padding);
  }
}
/* Versió Mobile */
@media (max-width: 450px) {
  .container {
    max-width: 350px;
    margin: 0 auto;
  }
  header {
    gap: calc(var(--gap) * 1.1);
  }
  .nav {
    flex-direction: column;
  }
  main {
    background-color: rgb(253, 225, 65);
  }
  main .contenido {
    background-color: rgb(15, 81, 110);
    display: flex;
    flex-flow: column nowrap;
    padding: calc(var(--padding) * 2);
  }
  main .contenido article {
    background-color: rgb(99, 149, 155);
  }
  main .contenido footer {
    background-color: rgb(165, 220, 203);
  }
  main .aside {
    background-color: rgb(251, 123, 90);
    gap: calc(var(--gap) / 2);
  }
  main .aside section {
    background-color: rgb(252, 178, 113);
  }
}
